<link rel="stylesheet" type="text/css" href="/styles/homepage.css">

<nav class="navbar">
  <div class="navbar-container container">
    <input type="checkbox" name="" id="">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
       <li><a href="/logout" class="btn btn-primary">Logout</a></li> 
    </ul>
    <h1 class="logo"></h1>

  </div>
</nav>
<section class="showcase-area" id="showcase">
  <div class="showcase-container">
    <h1 class="main-title" id="home">Users List</h1>
      <div class="container"> <input type="text" name="searchInput" id="searchInput" class="searchbox" placeholder="What are you looking for ?">
   </div>
   
  </div>
</section>
{{!-- <section class="showcase-area" id="showcase">
  <div class="showcase-container">
    <div class="container"> <input type="text" name="searchInput" id="searchInput" class="searchbox" placeholder="What are you looking for ?">
   </div>
 
  </div>
</section> --}}

<table class="center container">
  <thead>

      <th>Name</th>
      <th>Username</th>
      <th>Phone number</th>
      <th>Email address</th>

    </thead>

  <tbody id="usersList">
    {{#each users}}
    
    <tr>
      <td>{{this.firstname}}</td>
      <td>{{this.username}}</td>
      <td>{{this.phonenumber}}</td>
      <td>{{this.email}}</td>
    <tr>


      {{/each}}
  </tbody>

</table>





<footer id="footer">
  <h2>anusreepankan &copy; all rights reserved</h2>
</footer>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links
    $("a").on("click", function (event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top,
          },
          800,
          function () {
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          }
        );
      } // End if
    });
  });

 

</script>

<script>
  document.getElementById("searchInput").addEventListener("keyup", function () {
  const searchTerm = this.value.toLowerCase(); 
  console.log(searchTerm);
  const usersList = document.querySelectorAll("#usersList tr"); // Select all rows in the users list

  usersList.forEach((row) => {
    const userText = row.innerText.toLowerCase(); // Get the text of the current row

    // Check if the row's text includes the search term
    if (userText.includes(searchTerm)) {
      row.style.display = "table-row"; // Show matched row
    } else {
      row.style.display = "none"; // Hide unmatched row
    }
  });
});

</script>